xlrd
xlutils
xlwt
tqdm
pandas
numpy
scikit_learn
sktime
matplotlib==3.8.4
torch 
tensorboard
osmium
pyproj
alphashape
descartes
shapely==1.8.5
black
ray[tune]
hyperopt
chardet
charset_normalizer
requests
annoy
pypolycontain
